

<div class="calculator">
  <h2>Calculator</h2>
  <div>
    <label>Enter Number 1: </label>
    <input type="number" [(ngModel)]="No1" />
  </div>
  <br>
  <div>
    <label>Enter Number 2: </label>
    <input type="number" [(ngModel)]="No2" />
  </div>
  <br>
  <div class="buttons">
    <button (click)="Addition()">Add</button>
    <button (click)="Substraction()">Subtract</button>
    <button (click)="Multiplication()">Multiply</button>
    <button (click)="Division()">Divide</button>
  </div>
  <div class="result">
    <h3>Result: {{ Result }}</h3>
  </div>
</div>


<router-outlet />